#Compiled-files are ignored
# Ignore all object files (.o) anywhere in the repository
*.o

# Ignore common default executable names
a.out
*.exe # For Windows executables if you ever compile them directly there


# Explicitly ignoring the compiled files
Threads/Project_2/project-2
Threads/Project_1/project-1
Threads/Project_3/project-3
Threads/Project_4/project-4
Threads/Project_5/project-5